@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <body style="background-color:black"; />
    <h1 style="color:aqua;">Welcome</h1>
    <p style="font-size:1.25em; color:blueviolet;">Check available movies and choose your showing!</p>
    <br />
    <p style="font-size:1.25em; color:blueviolet; border:2px solid blue;">Showings: </p>
    <br />
    <p style="font-size:1.25em; color:blueviolet; border:2px solid blue;">M-F: 10am - 1pm / 3pm - 6pm / 7pm - 10pm / 11pm - 1am</p>
    <br />
    <p style="font-size:1.25em; color:blueviolet; border:2px solid blue;">Saturday and Sunday:  7pm - 10pm / 11pm - 1am </p>
    <br />
    <p style="font-size:1.25em; color:green;">Concessions: Candy - $3.99 / Drink - $2.99 ALL SIZES / Popcorn - $4.99 / Pizza - $6.99</p>
    <br />
    <p style="font-size:1.25em; color:green;">COMBOS: (Popcorn, choice of candy, drink) - $8.99 / (Pizza, choice of candy, drink) - $10.99 / (Pizza, Popcorn, choice of candy, drink) - $15.99</p>
    <br />
    <br />
    <div class="col-sm-6">
        <img src="images/ticket.jpg" alt="tickets" />

    </div>

</div>

